<!DOCTYPE html>
{% load static %}

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="{% static 'auth.css' %}">
</head>
<body>
    <div class="form-container">
        <h1>Inscription</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="submit-button">S'inscrire</button>
        </form>
        <a href="{% url 'login' %}" class="back-button">Déjà inscrit ? Connectez-vous</a>
    </div>
</body>
</html>
